@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #FFB6D9;
    --cor-terciaria: #45FFCA;
    --cor-quartenaria: #FEFFAC;
}


*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: white;
    overflow-x: hidden;
}
.AbaSite {
    padding: 2% 0% 0% 15%;
   
}
.AbaSiteTexto {
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    display: flex;
    gap: 80px;
    font-weight: 600px;
    width: 100%
    
}
    .Destaque-Titulo {
    color: var(--cor-secundaria);
}
.AbaSiteTitulo {
    color: var(--cor-secundaria);
    text-decoration: none;
    justify-content: center;
    border: 5px solid var(--cor-secundaria);
    text-align: center;
    border-radius: 50px;
    font-size: 1.25REM;
    padding: 5px 20px;
    transition: all 0.3s ease-in-out;
}

.AbaSiteTitulo:hover {
    background-color: var(--cor-terciaria);
    border: 5px solid var(--cor-terciaria);
    color: black;
    transform: scale(1.25);
}

.TituloPagina {
    text-align: center;
    font-family: 'Krona One', sans-serif;

}
.Destaque-Dev {
    color: var(--cor-terciaria);
}
.Destaque-Linguagem {
    color: var(--cor-quartenaria)
} 
.Apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 82px;

   
}
.ApresentacaoConteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  
}
.ConteudoTitulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    
}
.paragrafo {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif; }

.ConteudoTituloTexto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
    

.botoes {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.subtitulorede {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.botoeslink {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 5px solid var(--cor-terciaria);
    text-align: center;
    width: 50%;
    border-radius: 50px;
    box-shadow: 10px 20px rgb(88, 183, 183);
    font-size: 1.5rem;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: all 0.4s ease-in-out;
}
.botoeslink:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 15px 20px;
}

.ApresentacaoImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.Desenvolvido {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 1.5rem;
    width: 100%;
}

@media (max-width: 768px) {
.AbaSite {
        padding: 10% 0% 0% 15%;
    }
.Apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
} 
.ApresentacaoConteudo {
    width: auto;
    margin: auto;
}
.AbaSiteTexto {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
};